name: Build & Deploy to Scaleway

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - run: npm install
      - run: npm ci
      - run: npm test
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Login to Scaleway Container Registry
      if: contains(github.event.head_commit.message, '#deploy')
      uses: docker/login-action@v3
      with:
        username: nologin
        password: ${{ secrets.SCALEWAY_API_KEY }}
        registry: ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}
    - name: Build the Docker image
      if: contains(github.event.head_commit.message, '#deploy')
      run: docker build . -t ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/lemaroishuetblandin
    - name: Push the Docker Image
      if: contains(github.event.head_commit.message, '#deploy')
      run: docker push ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/lemaroishuetblandin
    needs: test
