name: Build & Deploy to Scaleway

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Login to Scaleway Container Registry
      if: contains(github.event.head_commit.message, '#deploy')
      uses: docker/login-action@v3
      with:
        username: nologin
        password: ${{ secrets.SCALEWAY_API_KEY }}
        registry: ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}
    - name: Build the Docker image
      if: contains(github.event.head_commit.message, '#deploy')
      run: docker build . -t ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/lemaroishuetblandin
    - name: Push the Docker Image
      if: contains(github.event.head_commit.message, '#deploy')
      run: docker push ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/lemaroishuetblandin
